* {
    box-sizing: border-box;
}

body {
    font-family: roboto, sans-serif;
    margin: 0;
}

h1 {font-size: 3.5em;}
h2{font-size: 2.7em;}
h3 {font-size: 2em;}
p{font-size: 1.25em;}
ul{list-style: none;}
li{ font-size: 1.25em;}

button {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 2px 2px 10px black;
    color: white;
    background-color: green;
}

button:hover {
    background-color: rgb(0, 80, 0);
}

.contenedor {
    max-width: 1400px;
    margin: auto;
}

header {
    background-color: rgb(2, 98, 2);
}

header .logo {
    margin: 0;
    padding: 25px 30px;
    color: greenyellow;
    font-size: 1.5em;
    font-style: italic;
}

header .contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color:greenyellow
}

header a:hover {
    color:  rgb(0, 80, 0);
}

#hero {
    display:flex ;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: greenyellow;
    background-image: url("descargas/fulboparapag.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}



